.navbar_component{
    width:100vw;
    height: 60px;
    background-color: #131a22;
    display: flex;
}
.navbar_logo{

	background: url('https://ik.imagekit.io/AmazonImages/amazon-image/sprite_350x_IZeJBAAVGb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649327503822') no-repeat -10px -51px;
	background-size: 350px 450px;
	width: 120px;
	height: 29px;
    margin-top: 18px;
    margin-left: 15px;
}
.navbar_location{
    color: white;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    
}
.navbar_locator{
   display: flex;
   margin-top: 19px;
   margin-left: 15px; 
   margin-right: 20px;
}
.navbar_locatorImage{
	background: url('https://ik.imagekit.io/AmazonImages/amazon-image/sprite_350x_IZeJBAAVGb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649327503822') no-repeat -71px -306px;
	background-size: 350px 450px;
	width: 17px;
	height: 20px;
    margin-right: 7px;
    margin-left: -15px;
}

.navbar_searchbox{
    height: 38px;
    width: 530px;
    margin-top: 8px;

}
.navbar_searchicon{
    background: url('https://ik.imagekit.io/AmazonImages/amazon-image/sprite_350x_IZeJBAAVGb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649327503822') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 10px;
    
}
.navbar_searchcomponent{
    display:flex;
    margin-left: 15px;
    
}

.navbar_searchboxdiv{
    background-color: #FEBE68;
    height: 44px;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px;
    
}
.nav_dropdown{
    width: 60px;
    height: 44px;
    margin-top: 8px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
}
.navbar_signin{
    width: 118px;
    margin-left: 35px;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 12px;
}
.navbar_returns{
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar_cart{
    display: flex;
}
.navbar_text {
    color: white;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    
}
.cart_image{
    background: url('https://ik.imagekit.io/AmazonImages/amazon-image/sprite_350x_IZeJBAAVGb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1649327503822') no-repeat -217px -336px;
	width: 43px;
	height: 30px;
    margin-top: 7px;
}
.navbar_text_cart{
    margin-top: 19px;
    font-weight: bold;
}
.cart_item{
    font-weight: bold;
    position: relative;
    left: -21px;
    top: 7px;
    color: #F08805;
}
.navbar_hello_signIn{
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 14px;
}
.navbar_text_returns{
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 14px;
}
.navbar_location_hello{
    color:white;
    font-size: 15px;
}
.navbar_hello_location_marker{
    margin-top: -7px;
}

.navbar_country_dropdown{
    width: 53px;
    height: 33px;
    margin-top: 13px;
    background-color: yellow;
    border-radius: 5px 5px 5px 5px;
    text-align-last: center;
    margin-left: 30px;
}
